@charset "UTF-8";
/* 중복아이디 존재하지 않는경우 */
.id_ok{
	color : green;
	display : none;
}

/* 중복아이디 존재하는 경우 */
.id_not_ok{
	color : red;
	display : none;
}
.con {
	width: 625px;
    margin: 225px auto;
    height: 350px;
    border: 1px solid gray;
    border-radius: 10px;  
    text-align: center;
    margin-bottom: 3px;
}